*{
    padding:0;
    margin: 0;
}
body {
    font-family: monospace;
    color:#d7385e;
    margin:0;
}
.logo-image{
    width: 80px;
    height: 50px;
    text-transform: uppercase;
    background-color:rgb(194, 144, 194);
    
}
header{
    width: 100%;
    display: flex;
    align-items: center;

}

.sectionA{
    background-image: url(https://images.unsplash.com/photo-1551632436-cbf8dd35adfa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: auto;
}
nav{
    height: 10vh;
    width: 100%;
    background-color:rgb(194, 144, 194);
    align-items: center;
}
 nav ul{
    justify-content: space-around;
    display: flex;
    list-style: none;
    letter-spacing: 4px;
}
.menu div{
    margin:5px;
    height: 3px;
    width: 20px;
    background-color:whitesmoke;
}
#sectionB{
    margin: 20vh;
    padding:0 20px;
    color:#d7385e;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row-reverse;
    align-items:e;
}
#sectionB p,#about p,#contacts p,#contacts h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

#sectionB h1{
    font-size: 40px;
}
.hotels{
    position: absolute;
    overflow: hidden;
    top: 30%;
}
.Nairobi{
    width: 100%;
    height:100%
    
}

 .left,.right{
     width: 50%;
 }
.click{
    padding: 10px;
    color: #d7385e;
    background-color:rgb(194, 144, 194);
    margin: 10px;

}
a:hover{
    background-color: burlywood;
    padding: 8px;
}
#sectionC{
    margin: 20vh;
    display: flex;
    flex-direction: row;
}

#contacts,#about{
    width: 50%;
    padding: 10px;
    margin: 30px;
}
